.hero-item {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 10px;
  gap: 6px;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;
}

.hero-yard {
  background-color: #fe835b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-request {
  background-color: #33bdd3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  /* background: linear-gradient(to right, #76b7b1, #cee0c6, #76b7b1); */
  margin-left: 60px;
  width: 650px;
  /* border: 4px solid #3193c; */
  border-radius: 12px;
  padding: 10px;
  color: white;
  border-right: 2px solid rgba(240, 237, 237, 0.979);
  border-left: 2px solid rgba(240, 237, 237, 0.979);
}

.hero-container .hero-profile-text {
  width: 90%;
}

.hero-buttons {
  display: flex;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-container-profile {
  width: 150px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-outer {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #94c1b7;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}

.hero-middle {
  width: 110px;
  height: 110px;
  border-radius: 50%;

  border: 1px solid #31393c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.hero-container-img {
  width: 120px;
  height: 110px;
  border-radius: 50%;
  background-color: #94c1b7;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.hero-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
