.main-sidebar {
  padding: 12px;
}

.sidebar-container-profile {
  width: 150px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle-outer {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #94c1b7; /* Outer circle border color */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.circle-middle {
  width: 110px;
  height: 110px;
  border-radius: 50%;

  border: 1px solid #31393c; /* Middle circle border color */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.sidebar-container-img {
  width: 120px;
  height: 110px;
  border-radius: 50%;
  background-color: #94c1b7;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.sidebar-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 8px;
  gap: 6px;
  border-radius: 10px;
  cursor: pointer;

  margin: 15px;
  padding: 10px;
  gap: 6px;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;

  /* background: linear-gradient(to bottom right, #e83e8c, #6f42c1, #3490dc); */
}

.sidebar-code {
  font-size: 13px;
}

.sidebar-notification {
  background-color: #64f0e7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-circle {
  background-color: #679ea5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-yard {
  background-color: #526262;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-request {
  background-color: #5088a3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-setting {
  background-color: #c49b82;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-container-tools {
  position: relative;
}

.notification,
.circle,
.yard,
.request,
.setting {
  display: flex;
  align-items: center;
  justify-content: center;
}
